<div id="todo-module">
  <div id="welcome-container">
    <h1>TODO List</h1>
    <h3>A place to store your todos</h3>
  </div>

  <div id="filter"></div>

  <div id="todo-list-container">
    <table>
      <thead></thead>
      <tbody>
        <tr class="container" *ngFor="let todo of returnsTodo(); let i = index">
          <td>
            {{ i + 1 }}. <button *ngIf="!this.todo.completed" (click)="completeTask(todo)">Complete</button>
            {{ todo.task }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="add=todo-container">
    <form #todoForm="ngForm"   (ngSubmit)="addTask(todoForm)">
         <input name="input" placeholder="New Task" ngModel>
        <button type="submit">Add</button>
    </form>
  </div>
</div>
